.font-24-title-140 {
  font-size: 24px;
  font-weight: bolder;
  line-height: 140%;
}
.font-20-title-140 {
  font-size: 20px;
  font-weight: bolder;
  line-height: 100%;
}

.font-16-title-100 {
  font-size: 16px;
  font-weight: normal;
  line-height: 100%;
}

.font-15-title-100 {
  font-size: 15px;
  font-weight: normal;
  line-height: 100%;
}

.font-15-medium-130 {
  font-size: 15px;
  font-weight: 500;
  line-height: 130%;
}

.font-15-medium-140 {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
}

.font-14-medium-140 {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.font-14-title-100 {
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
}

